body{
    background-color: #252f31;
    overflow: hidden;
    padding-top: 50px;
    padding-bottom: 70px;
    display: block;
}
.form{
/*    float: left;*/
    width: 45%;
}

.form label{
    display: block; 
    color: #d1d6da;
    margin: 10px 0px;
}
.form input[type="text"]{
    background-color: #4b5557;
    color: #fff;
    padding: 10px;
    border: 0;
    width: 80%
}


.form textarea{
    background-color: #4b5557;
    color: #fff;
    padding: 10px;
    border: 0;
    width: 80%;
    height: 300px;
}

.form input[type="submit"]{
    background-color: #191e22;
    color:#fff;
    padding: 10px 20px;
    border:0;
    margin-top: 10px;
}

.form label{
    margin-left: -300px;
}
.submit{
    align-items: flex-start;
    text-align: center;
    cursor: default;
    color: buttontext;
    background-color: buttonface;
    box-sizing: border-box;
    padding: 2px 6px 3px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonface;
    border-image: initial;
}
    